<!DOCTYPE html>
<html>
<head>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<table class="demo" width="100%" align="left">
  <tr>   
      <table width="100%" cellpadding=1 cellspacing=1 border="1" align="left" id="app">
        <tr>
            <td>market </td>
            <td>high  </td>
            <td>low  </td>
            <td>Volume</td>
            <td>Last</td>
            <td>BaseVolume </td>
            <td>TimeStamp </td>
            <td>Bid</td>
            <td>Ask</td>
            <td>OpenBuyOrders</td>
            <td>OpenSellOrders</td>
            <td>PrevDay</td>
          </tr>
        <template v-for="item in value">
            {{item}} 
        <tr>
          <!-- <td>{{item.MarketName}}</td>
          <td>{{item.High}} </td>
          <td>{{item.Low}} </td>
          <td>{{item.Volume}} </td>
          <td>{{item.Last}} </td>
          <td>{{item.BaseVolume}} </td>
          <td>{{item.TimeStamp}} </td>
          <td>{{item.Bid}} </td>
          <td>{{item.Ask}} </td>
          <td>{{item.OpenBuyOrders}} </td>
          <td>{{item.OpenSellOrders}} </td>
          <td>{{item.PrevDay}} </td> -->
          <tr>
            </template>
      </table>
   
    </tr>
</table>
<script>
  var socket = io.connect();
  var ticker = [];
  socket.on('stream', function (data) {
    var x = JSON.stringify(data)
    for (var k in JSON.parse(x)) {
      let name  = JSON.parse(x)[k].data[JSON.parse(x)[k].data.length-1].param2.MarketName;
      let value  = JSON.parse(x)[k].data[JSON.parse(x)[k].data.length-1].param2 ;
      console.log(JSON.parse(x)[k].data[JSON.parse(x)[k].data.length-1].param2.MarketName);
      var item = { "BTC-ADX": value };
         ticker.push(item);
    }
    setTimeout(function () {
      console.log(ticker);
      app.value = ticker;
       
    }, 2000);
  });
  var app = new Vue({
    el: "#app",
    data: {
      value: ""
    },
    methods: {}
  })
</script>

</html>