<!DOCTYPE html>
<html>
<head>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<table class="demo" width="100%" align="left">
  <tr>   
      <table width="100%" cellpadding=1 cellspacing=1 border="1" align="left" id="app">
        <tr>
            <td>market </td>
            <td>high  </td>
            <td>low  </td>
            <td>Volume</td>
            <td>Last</td>
            <td>BaseVolume </td>
            <td>TimeStamp </td>
            <td>Bid</td>
            <td>Ask</td>
            <td>OpenBuyOrders</td>
            <td>OpenSellOrders</td>
            <td>PrevDay</td>
          </tr>
        <template v-for="(item, key, index) in value">
          <tr v-for="(it, key, index) in item">
          <td>{{it.value.MarketName}}</td>
          <td>{{it.value.High}} </td>
          <td>{{it.value.Low}} </td>
          <td>{{it.value.Volume}} </td>
          <td>{{it.value.Last}} </td>
          <td>{{it.value.BaseVolume}} </td>
          <td>{{it.value.TimeStamp}} </td>
          <td>{{it.value.Bid}} </td>
          <td>{{it.value.Ask}} </td>
          <td>{{it.value.OpenBuyOrders}} </td>
          <td>{{it.value.OpenSellOrders}} </td>
          <td>{{it.value.PrevDay}} </td>
          <tr>
            </template>
      </table>
   
    </tr>
</table>
<script>
  
  var socket = io.connect();
 
  var item = {};
  socket.on('stream', function (data) {
    var ticker = [];
    var x = JSON.stringify(data)
    for (var k in JSON.parse(x)) {
      var name  = JSON.parse(x)[k].data[JSON.parse(x)[k].data.length-1].param2.MarketName;
      var value  = JSON.parse(x)[k].data[JSON.parse(x)[k].data.length-1].param2 ;
      console.log(JSON.parse(x)[k].data[JSON.parse(x)[k].data.length-1].param2.MarketName);
      item[name] = {value};
      ticker.push(item);
    }
    setTimeout(function () {
      console.log(ticker);
      app.value = ticker;
       
    }, 2000);
  });
  var app = new Vue({
    el: "#app",
    data: {
      value: ""
    },
    methods: {}
  })
</script>

</html>