<!DOCTYPE html>
<html>
  <head>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  </head>
   <ul id="app" class="demo">
      <li v-for="v in value">
          {{ v }}
        </li>
      </ul>
  <script>
    var socket = io.connect();
     socket.on('stream', function(data){
        console.log(data);
        app.value = data;
    });

    var app = new Vue({
      el: "#app",
      data: {
        value:[]
      },
      methods: {
      }
    })
  </script>
</html>